.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin-top: 70px;
  }
  
  .app-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 100px;
    background-color: rgb(28, 161, 214);
    color: black;
    font-size: 20px;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
  }


  .app-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }
  
  .course-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    /* background-color: #aaf196; */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
    height: 200px;
    
  }
  
  .course-video {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  

  .course-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid darkblue;
    cursor: pointer;
  }
  
  .course-info h3 {
    color: #333;
    margin-bottom: 5px;
  }
  
  .course-info p {
    color: #555;
    margin-bottom: 2px;
  }