

.container {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

#sidebar {
position: fixed;
margin:2px;
}

.content {
  margin-left: 300px;
  margin-top: 8px;
  width:80vw;
}


